<div class="d-flex flex-row">
    <PrinterGrid Printers="Printers" CalculateTotalAmount="CalculateTotalAmount" />
    <SaleOverview Sales="Sales" TotalPaymentAmount="TotalPaymentAmount" ClearSalesOverviewScreen="ClearSalesOverviewScreen" />
</div>